@media (max-width: 414px) {
  /*Contenedor creado desde el HTML*/
  #root {
    align-items: center;
  }

  /*Contenedor con toda la información del login*/
  .loginContainer {    
    flex-direction: column;
    align-items: center;
  }

  /*Contenedor de la imagen de fondo del login*/
  .imgContainer {
    width: 100%;    
    display: flex;
    background-image: url(images/loginpicture.jpg);
    background-repeat: no-repeat;    
  }

  /* Contenedor del header, formulario y otras opciones de logeo */
  .loginInformation {
    width: 100%;   
    position: absolute;    
  }

  /*Contenedor con el logo y título*/
  .headerLogin {
    height: 40%;    
  }

  .loginLogo {
    height: 30%;
    width: 28%;
    background-image: url(images/logoblanco.png);
  }

  .logoTitle {
    margin: 0%;
    color: #ffffff;    
  }

  /*Formulario del login*/
  .form {
    width: 73%;
    margin: 0%;    
  }

  .inputMail {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }

  /* Estilos del placeholder inputMail*/
  .inputMail::placeholder {
    color: rgba(255, 255, 255, 0.61);    
  }

  .inputPassword {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }

  /*Estilos del placeholder inputPassword*/
  .inputPassword::placeholder {
    color: rgba(255, 255, 255, 0.61);    
  }

  /* Botón del login */
  .loginSubmit {
    height: 15%;
    color: rgba(0, 0, 0, 0.63);
    background-color: rgba(245, 245, 245, 0.78);
    font-weight: 900;
    font-size: medium;
  }

  /* Sing up sección*/
  .signUpContainer {
    width: 80%;    
  }

  .signupOption {
    color: rgba(255, 255, 255, 1);    
  }

  .signUpLines {
    border-top: thin solid rgba(255, 255, 255, 1);
  }

  /*Contenedor de otras opciones para el login*/
  .loginButtonsContainer {
    width: 80%;    
  }

  /* Crear una cuenta y olvidar contraseña*/
  .accountAndPasswordContainer {
    width: 80%;
    margin-top: 8%;    
  }

  .verticalLine {    
    border-left: thin solid rgba(255, 255, 255, 1);
  }

  .accountAndPassword {
    margin-top: 1em;
    color: rgba(255, 255, 255, 1);    
  }

  /*Sección de Create account*/

  /*Contenedor create account*/
  .registerContainer {
    align-items: center;
    background-image: url(images/backgroundregister.png);
    background-size: cover;
    background-position: center;
  }

  /*Sección de flecha y título*/
  .headerRegister {
    height: 40%;
    width: 100%;    
    padding-left: 0;
    margin-top: 0;
  }

  /*Flecha de volver a atrás*/
  .backArrow {
    height: 2em;
    margin-right: 2%;
  }

  /* Título Create Account */
  .registerTitle {
    color: #ffffff;    
  }

  /*Formulario*/
  .registerForm {
    width: 73%;
    padding-left: 0%;    
  }

  .inputNameRegister {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }

  .inputNameRegister::placeholder {
    color: rgba(255, 255, 255, 0.61);    
  }

  .checkBox {
    margin: 2% 5% 0% 0%;    
  }

  .condition {
    color: rgba(255, 255, 255, 1);
  }

  /*Botón Sing up*/
  .signUpButton {
    height: 8%;
    color: rgba(0, 0, 0, 0.63);
    background-color: rgba(245, 245, 245, 0.78);    
  }

  /*Página del post*/
  /*Contenedor del muro*/
  .postContainer {
    align-items: center;
  }
  
  /*Contenedor del logo y título*/
  .headerPost {
    height: 12%;
  }

  .logoHeader {
    height: 40%;
    width: 10%;
  }

  /* Sección del contenedor para postear*/
  .createPostContainer {
    height: 25%;
    width: 100%;
    margin: 0%;
    border-top: thin solid rgba(123, 130, 152, 0.22);
    border-bottom: thin solid rgba(123, 130, 152, 0.22);    
  }
  
  /*Foto del perfil*/
  .profilePhoto {
    height: 70%;
    width: 18%;
    border-radius: 100%;
    background-image: url(images/profileImage.png);
    background-size: cover;
  }

  /*Sección del contenedor de timeline*/
  .timelimeContainer {
    width: 100%;
    margin: 3% 0% 0% 0%;    
  }

  /*Contenedor del botón logout*/
  .logoutContainer {
    width: 90%;
    margin-right: 0%;
  }

  /*Botón logout*/
  .logoutButton {
    height: 55%;
    width: 35%;
    margin: 0;
  }
}
